<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Document</title>
</head>
<body>
     <h1>edit your post</h1>
     <h2>post id: <%=  post.id   %></h2>
     <h2> post username: @<%=  post.username %></h2>
     <form method="post" action="/posts/<%=post.id %>?_method=PATCH">
     <textarea row="10" cols="15" name="content" > <%= post.content %> </textarea>

          <button>SUBMIT</button>
     </form>
</body>
</html>