<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Document</title>
     <link rel="stylesheet" href="/new.css">
</head>
<body>
     <form method="post" action="/posts">
          <input type="username" placeholder="username" name="username">
          <br/>
          <textarea name="content" id="con" placeholder="write somethings"></textarea>
          <br>
          <button>submit post</button>
     </form>
     <br/>
     <br/>
    
     
</body>
</html>